#wrap h1.tour-title {
	display:block;
	width:90%;
	font-weight: 600 !important;
	font-size:3em;
	color:#fff;	
	line-height:1em;
	margin:50px auto;
	

}
#wrap small.tour-title{
	color:#fff;	
	font-size:.5em;
	font-weight: 600 !important;

}
@media (min-width:992px){
	#wrap h1.tour-title {
	line-height:1em;	
	}
}
@media (max-width:767px){
	#wrap h1.tour-title {
		font-size:2.5em;
	}
}